 /*variables*/
:root {
  --white: #fff;
  --main: #eaedf0;
  --accent: #0041ff;
  --accent-2: #ebedf0;
}

/*styles*/
body {
            font-family: Arial, sans-serif;
            margin: 0;
            height: 100vh;
            background-color: #f5f5f5;
            overflow: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
 
}
    
        .header {
            z-index: 1; /* Ensure header content is above the background */
            background-color: #6617cb;
            background-image: linear-gradient(315deg, #6617cb 0%, #cb218e 74%);
            color: white;
            padding: 20px;
            text-align: center;
            font-family: "Chronicle Display",Georgia,serif;
            font-size: 28px;
            width: 100%;
        }

.header-display {
  display: flex;
  align-items: center;
}

.header-display p {
  color: var(--accent);
  margin: 5px;
  font-size: 1.2rem;
  word-spacing: 0.5rem;
}

 .header-content {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        
.container {
  display: inline-block;
  background-color: var(--white);
  border-radius: 35px;
}

 .reserve-dashboard {
            text-align: center;
            margin: 10px;
            font-size: 18px;
            display: inline-block;
        }

.selector-container {
            margin-top: 20px;
            text-align: center;
        }

.selector-container label {
            margin-right: 10px;
        }


header {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
}

 .button {
            padding: 10px;
            background-color: #0077cc;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            width: 100%;
            max-width: 150px;
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 10px;
            transition: background-color 0.3s;
        }

pre {
  padding: 0px;
  margin: 0;
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--accent);
}

.days,
.week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin: auto;
  padding: 0 10px;
  justify-content: space-between;
}
.week div,
.days div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.3rem;
  width: 2.3em;
  border-radius: 100%;
}
.days div:hover {
  background: var(--accent-2);
  color: rgb(25, 25, 201);
  cursor: pointer;
}
.week div {
  opacity: 0.5;
}
.current-date {
  background-color: var(--accent);
  color: var(--white);
}
.display-selected {
  margin-bottom: 10px;
  padding: 20px 20px;
  text-align: center;
}
