/* Variables */
:root {
  --white: #fff;
  --main: #eaedf0;
  --accent: #0041ff;
  --accent-2: #ebedf0;
}

/* Styles */

@font-face {
    font-family: 'SlatePro-Bold';
    src:url('SlatePro-Bold.woff') format('woff'),
        url('SlatePro-Bold.woff2') format('woff2'),
        url('SlatePro-Bold.svg#SlatePro-Bold') format('svg'),
        url('SlatePro-Bold.eot'),
        url('SlatePro-Bold.eot?#iefix') format('embedded-opentype'),
        url('SlatePro-Bold.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
  margin: 0;
  height: 100vh;
  background-color: #f5f5f5;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Header */
.header {
  font-family: 'Chronicle Display', sans-serif;
  background-color: #6617cb;
  background-image: linear-gradient(315deg, #6617cb 0%, #cb218e 74%);
  color: white;
  padding: 20px;
  font-size: 28px;
  text-align: center;
  width: 100%;
}

/* Header Content */
.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Reserve Dashboard */
.reserve-dashboard {
  text-align: center;
  margin: 5px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 400px;
}

.button {
  padding: 13px 28px 12px;
  font-family: SlatePro-Bold,Helvetica,Arial,sans-serif;
  font-size: 1.125em; 
  background: #463c8f;
  color: white;
  border-width: 1px 0 1px 1px;
  cursor: pointer;
  width: 100%;
  max-width: 300px;
  text-align: center;
  margin: 5px 0;
  transition: background-color 0.3s;
}

.button2 {
  padding: 13px 28px 12px;
  font-family: SlatePro-Bold,Helvetica,Arial,sans-serif;
  background-color: #6c25be;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1.125em; 
  width: 100%;
  max-width: 300px;
  text-align: center;
  margin: 5px 0;
  transition: background-color 0.3s;
}

.disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Selector Container */
.selector-container {
  margin-top: 20px;
  text-align: center;
  background-color: #e0e0e0;
  width: 80%;
  max-width: 370px;
  padding: 20px;
  border-radius: 10px;
}

.selector-container label {
  margin-right: 10px;
}

#datepicker {
  width: 100%;
  max-width: 150px;
  padding: 10px;
  margin-top: 10px;
}

#go-button:disabled {
  background-color: #ccc;
}

#go-button.enabled {
  background-color: #CE0C88;
}

/* Vacation Dot */
.vacation-dot a {
  display: block;
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  position: fixed;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: auto;
}

.vacation-dot a:hover {
  background-color: #555;
  pointer-events: none;
}

/* Preformatted Text */
pre {
  padding: 0px;
  margin: 0;
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--accent);
}

/* Display Selected */
.display-selected {
  margin-bottom: 10px;
  padding: 20px 20px;
  text-align: center;
}

/* Mobile Optimization */
@media (max-width: 768px) {
  .reserve-dashboard {
    flex-direction: column;
    width: 85%;
  }
}
